{% if aliases %}
    <table class="table">
        <tbody>
        {% for alias in aliases %}
            <tr>
                <td>
                    <span class="label label-primary">{{ alias.title }}</span>
                </td>
                <td>
                    <span class="label label-success">{{ alias.frontend }}</span>
                </td>
                <td>

                    {% for service in alias.frontend.services %}
                        <span class="label label-danger">{{ service.title }}</span>
                    {% endfor %}
                </td>
                <td>
                    <span class="label label-default">{{ alias.uri }}</span>
                </td>
                <td>
                    <span class="label label-default">{{ alias.credential }}</span>
                </td>
                <td class="text-right"></td>
                <th class="text-right">
                    <div class="dropdown">
                        <button class="btn btn-default btn-xs dropdown-toggle"
                                data-toggle="dropdown">
                            <i class="glyphicon glyphicon-option-vertical"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="{{ url('quapee_alias_update', {'id': alias.id}) }}">Edit</a>
                            </li>
                            <li>
                                <a href="{{ url('quapee_alias_double', {'id': alias.id}) }}">Duplicate</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{{ url('quapee_alias_delete', {'id': alias.id}) }}">Delete</a>
                            </li>
                        </ul>
                    </div>
                </th>
            </tr>
        {% endfor %}
        </tbody>
        <thead>
        <tr>
            <th>
                <small class="text-muted">TITLE</small>
            </th>
            <th>
                <small class="text-muted">APP</small>
            </th>
            <th>
                <small class="text-muted">SERVICES</small>
            </th>
            <th>
                <small class="text-muted">URL</small>
            </th>
            <th>
                <small class="text-muted">CREDENTIALS</small>
            </th>
            <th class="text-right">
                <small class="text-muted">CREATED BY</small>
            </th>
            <th>&nbsp;</th>
        </tr>
        </thead>
    </table>
{% else %}
    <div class="panel-body">
        <p class="text-warning">There are no configured aliases.</p>
    </div>
{% endif %}
